[Unit]
Description=uWSGI instance to serve app
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/ExadelDevOpsSandBox/Task2
Environment="PATH=/home/ubuntu/ExadelDevOpsSandBox/Task2/venv/bin"
ExecStart=/home/ubuntu/ExadelDevOpsSandBox/Task2/venv/bin/uwsgi --ini app.ini

[Install]
WantedBy=multi-user.target
